names(name of celestial bodies)   &   mass   &   position_x0 &   position_x1   &   velocity_v0  &   velocity_v1   &   force_f0   &   force_f1   &   time &   kinetic_energy   &   delta_t   &   t_end   &  N(number of bodies
)